.content {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}

.left-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: flex-start;
  img {
    width: 160px;
    height: 160px;
    margin: 5px;
    border-radius: 5px;
  }
}

.right-content {
  flex: 1;
  padding-left: 20px;
  h2 {
    padding-bottom: 10px;
  }
}
