/* Prime React css */
@import "../node_modules/primereact/resources/themes/saga-blue/theme.css";
@import "../node_modules/primereact/resources/primereact.min.css";
@import "../node_modules/primeicons/primeicons.css";

main {
}
