.content {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 10px;
  img {
    border-radius: 10px;
    width: 180px;
    height: 180px;
  }
}

.favourite-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  background-color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  span {
    font-weight: 300;
    color: white;
  }
}
