.card-style {
  width: 15rem;
  margin: 10px;
  border-style: hidden;
}

.cat-breed {
  box-shadow: 0 0 5px 5px #084298;
  width: 200px;
  height: 150px;
}

.cat-breed-but-red {
  box-shadow: 0 0 5px 5px red;
  width: 200px;
  height: 150px;
}

.cat-breed-but-red .cat-breed:hover {
  box-shadow: 0 0 5px 5px green;
}